// Styles
  /*
    --deep-purple:#421C52;
    --pink:#fb96cf;
    --light-purple:#cb7dc9;
    --coral:#ff6f61;
  */

  html, body {
  background: #421C52;/*white*/
  }

  .calculator {
    height: 00;
    background: blue;
  }
  .screen {
    background-color: #91A8D0;/*68cef2;*/
    color: #190d08;
    font-size: 50px;
    padding: 30px 10px;
    text-align: right;
    font-weight: lighter;
  }

  .formulae {
    background-color: #4c4c4c;
    padding: 20px 10px;
    text-align: right;
    font-weight: lighter;
    min-height: 18px;
  }
  .highlight {
    transform: scale(0.9);
  }

  .group {
    padding: 7px 8px 8px 8px;
    font-size: 14px;
    border-radius: 12px;
    margin: 0 3px;
  }
  .group.divide {
    background-color: #cb7dc9;
  }
  .group.substract {
    background-color: #fcb064;
  }
  .group.add {
    background-color: #fb96cf;
  }
  .group.multiply {
    background-color: #68cef1;
  }

  .keyboard {
    background: #ffe387;
    height: 300px;
  }
  .keyboard-row {
    display: table;
    width: 100%;
  }
  .key {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bolder;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: all 0.2s;
  }
  .key-number {
    border: 1px solid #888888;
    width: 33%;
    color: black;
  }

  .key-operator {
    width: 25%;
    color: black;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
  }
  .operator {
    color:black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:24px;
    padding-right:24px;
    border-radius: 5px;
    height: 28px;
    display: inline;
  }
  .operator.divide {
    background-color: #cb7dc9;

  }
  .operator.substract {
    background-color: #ff6f61;

  }
  .operator.add {
    background-color: #fb96cf;

  }
  .operator.multiply {
    background-color: #68cef1;

  }

  .key-action {
    width: 50%;
    padding: 20px;
  }
  .action {
    border-radius: 10px;
    padding: 10px 0;
  }
  .action.back {
    background-color:#fcb064;
    color: black;
    border: 1px solid #d68086;
  }
  .action.equal {
    background-color:#fcb064;
    color: black;
    border: 1px solid #d68086;
  }
